@import "tailwindcss";

:root {
  --background: #171A2B;
  --primary: #433EE1;
  --navigation: #26283D;
  --card: #202150;
  --muted-1: #52567A;
  --muted-2: #8F90A7;
  --foreground: #ffffff;
  --metadata: #9A6A2A;
  --success: #34C759;
  --warning: #FFCC00;
  --alert: #FF383C;

}

/* .light {
  --background: #171A2B;
  --primary: #433EE1;
  --navigation: #26283D;
  --card: #202150;
  --muted-1: #52567A;
  --muted-2: #8F90A7;
  --foreground: #ffffff;
  --metadata: #9A6A2A;
  --success: #34C759;
  --warning: #FFCC00;
  --alert: #FF383C;
}  */


@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-navigation: var(--navigation);
  --color-card: var(--card);
  --color-muted-1: var(--muted-1);
  --color-muted-2: var(--muted-2);
  --color-foreground: var(--foreground);
  --color-metadata: var(--metadata);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-alert: var(--alert);

  --font-heading: var(--font-plus-jakarta-sans);
  --font-body: var(--font-rajdhani);

  /* --radius-sm
  --radius-card (rounded-sm)
  --spacing-*
  --shadow-dark
  --drop-shadow
  --blur-*
  --aspect-*
  --animate-* */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), var(--font-rajdhani);
}
